<mat-nav-list class="mat-nav-list-styles">
    <a mat-list-item routerLink="/dashboard">&nbsp;&nbsp;<img src="../../assets/svgicons/grid.svg" class="svg-icon-style-side-menu" /> &nbsp; Dashboard</a>
    <a mat-list-item routerLink="/modality/procedure">&nbsp;&nbsp;<img src="../../assets/svgicons/mri.svg" class="svg-icon-style-side-menu" /> &nbsp; Modality Procedure</a>
    <a mat-list-item routerLink="/body/parts">&nbsp;&nbsp;<img src="../../assets/svgicons/broken-arm.svg" class="svg-icon-style-side-menu" /> &nbsp; Body Parts</a>
    <a mat-list-item routerLink="/user">&nbsp;&nbsp;<img src="../../assets/svgicons/key.svg" class="svg-icon-style-side-menu" /> &nbsp; User</a>
    <a mat-list-item routerLink="/rate">&nbsp;&nbsp;<img src="../../assets/svgicons/favorite.svg" class="svg-icon-style-side-menu" /> &nbsp; Rate</a>
    <a mat-list-item routerLink="/procedure">&nbsp;&nbsp;<img src="../../assets/svgicons/x-rays.svg" class="svg-icon-style-side-menu" /> &nbsp; Procedure</a>
    <a mat-list-item routerLink="/reports">&nbsp;&nbsp;<img src="../../assets/svgicons/printer.svg" class="svg-icon-style-side-menu" /> &nbsp; Reports</a>
</mat-nav-list>