<div class="card">
    <div class="card-header">
        <table border="0" style="width: 100%;">
            <tr>
                <td style="width: 50%;">

                </td>
                <td style="width: 40%;;"></td>
                <td style="width: 5%;" align="right">
                    <button mat-fab color="primary" class="btn-block">
                        <i class="fa fa-plus"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="card-body">
        <wj-flex-grid [itemsSource]="data">
            
        </wj-flex-grid>
    </div>
    <div class="card-footer">
        <div class="panel-footer">
            <div class="row">
                <div class="btn-group col-md-7" id="bankNavigationFlexGrid">
                    <button type="button" class="btn btn-default" id="btnBankMoveToFirstPageGrid">
                        <span class="fa fa-fast-backward"></span>
                    </button>
                    <button type="button" class="btn btn-default" id="btnBankMoveToPreviousPageGrid">
                        <span class="fa fa-step-backward"></span>
                    </button>
                    <button type="button" class="btn btn-default" disabled style="width: 100px" id="btnBankCurrentPageGrid"></button>
                    <button type="button" class="btn btn-default" id="btnBankMoveToNextPageGrid">
                        <span class="fa fa-step-forward"></span>
                    </button>
                    <button type="button" class="btn btn-default" id="btnBankMoveToLastPageGrid">
                        <span class="fa fa-fast-forward"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>