.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  box-shadow: 5px 10spx #888888;
  position: fixed;
  z-index: 2;
}

.example-sidenav-container {
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}

.mat-sidenav-content-styles {
  padding: 20px;
}

.btn-xs {
  padding: 0.2rem 0.1rem;
  margin-bottom: 0.2rem;
  font-size: 0.875rem;
  line-height: 1.6;
  border-radius: 0.2rem;
}