<div class="row">
    <div class="col-md-4">
        <button mat-raised-button class="btn-block" routerLink="/modality/procedure">
            <br />
            <img src="../../assets/svgicons/mri.svg" class="svg-icon-style" />
            <br />
            <br />
            <h4>Modality Procedure</h4>
            <br />
        </button>
        <br />
        <br />
    </div>
    <div class="col-md-4">
        <button mat-raised-button class="btn-block" routerLink="/body/parts">
            <br />
            <img src="../../assets/svgicons/broken-arm.svg" class="svg-icon-style" />
            <br />
            <br />
            <h4>Body Parts</h4>
            <br />
        </button>
        <br />
        <br />
    </div>
    <div class="col-md-4">
        <button mat-raised-button class="btn-block" routerLink="/user">
            <br />
            <img src="../../assets/svgicons/key.svg" class="svg-icon-style" />
            <br />
            <br />
            <h4>User</h4>
            <br />
        </button>
        <br />
        <br />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <button mat-raised-button class="btn-block" routerLink="/rate">
            <br />
            <img src="../../assets/svgicons/favorite.svg" class="svg-icon-style" />
            <br />
            <br />
            <h4>Rate</h4>
            <br />
        </button>
        <br />
        <br />
    </div>
    <div class="col-md-4">
        <button mat-raised-button class="btn-block" routerLink="/procedure">
            <br />
            <img src="../../assets/svgicons/x-rays.svg" class="svg-icon-style" />
            <br />
            <br />
            <h4>Procedure</h4>
            <br />
        </button>
        <br />
        <br />
    </div>
    <div class="col-md-4">
        <button mat-raised-button class="btn-block" routerLink="/reports">
            <br />
            <img src="../../assets/svgicons/printer.svg" class="svg-icon-style" />
            <br />
            <br />
            <h4>Reports</h4>
            <br />
        </button>
        <br />
        <br />
    </div>
</div>