<!-- ========== -->
<!-- Navigation -->
<!-- ========== -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="border-bottom: 0.5px solid grey;">
    <div class="container">
        <a class="navbar-brand" routerLink="/home">
            <img class="navbar-brand-logo" src="../../assets/logo/DMTiPACS2.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink=".">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink=".">Contact</a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <button class="btn btn-primary my-2 my-sm-0" routerLink="/account/login">Login</button>
            </div>
        </div>
    </div>
</nav>

<!-- ================ -->
<!-- Background Video -->
<!-- ================ -->
<header class="container-vid">
    <div class="fullscreen-video-wrap">
        <video autoplay="true" loop="loop" muted="muted" class="myVideo">
            <source src="../../assets/videos/bg-video.mp4" type="video/mp4" id="vid">
        </video>
    </div>
    <div class="header-content">
        <div class="intro-message">
            <br />
            <h1 class="intro-h1">DMTiPACS </h1>
            <h3 class="intro-h3">Image Solutions</h3>
            <br />
            <p>
                Complete Software-as-a-Service (SaaS) Telerad Application with unlimited and independent cloud storage.
            </p>
            <br />
            <button type="button" class="btn btn-info btn-lg" routerLink="/software">
                <i class="fa fa-check"></i> Get Started
            </button>
            <br />
            <br />
        </div>
    </div>
</header>

<!-- ============= -->
<!-- About Section -->
<!-- ============= -->
<section id="about" class="about-section">
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <img class="img-thumbnail" style="border: none; margin-top: -40px; background: #fbfbfb;" src="../../assets/images/about-img-1.png">
            </div>
            <div class="col-md-6">
                <h3 class="section-heading">
                    <img class="about-section-logo" src="../../assets/logo/DMTiPACS2.png" alt="">
                </h3>
                <br />
                <p class="">
                    Complete Software-as-a-Service (SaaS) Telerad Application with unlimited and independent cloud storage.
                </p>
                <p class="">
                    DMTiPACS is an end-to-end cloud-based Telerad Application that covers medical equipment integration to remote reading and
                    printing of results.
                </p>
                <h4>Features:</h4>
                <ul class="feature-lists">
                    <li style="margin-left: -25px;">
                        <i class="fa fa-check" style="color: green"></i> &nbsp; 100% Cloud Application with independent storage.
                    </li>
                    <li style="margin-left: -25px;">
                        <i class="fa fa-check" style="color: green"></i> &nbsp; Fully integrated PACS recording and real-time cloud study entries.
                    </li>
                    <li style="margin-left: -25px;">
                        <i class="fa fa-check" style="color: green"></i> &nbsp; Customizable DICOM code entries.
                    </li>
                    <li style="margin-left: -25px;">
                        <i class="fa fa-check" style="color: green"></i> &nbsp; Customizable physician's template.
                    </li>
                    <li style="margin-left: -25px;">
                        <i class="fa fa-check" style="color: green"></i> &nbsp; Customizable result reports.
                    </li>
                    <li style="margin-left: -25px;">
                        <i class="fa fa-check" style="color: green"></i> &nbsp; Multi-level security with physician's electronic signature.
                    </li>
                    <li style="margin-left: -25px;">
                        <i class="fa fa-check" style="color: green"></i> &nbsp; Online management reports, e.g., Billing Transactions.
                    </li>
                </ul>
            </div>
            <br>
        </div>
    </div>
</section>

<!-- ================ -->
<!-- Customer Section -->
<!-- ================ -->
<section class="customer-section">
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <h3 class="">Join our growing customers!</h3>
                <ul class="feature-lists">
                    <li style="margin-left: -25px;">
                        <i class="fa fa-check" style="color: green"></i> &nbsp; Customizable physician's template.
                    </li>
                    <li style="margin-left: -25px;">
                        <i class="fa fa-check" style="color: green"></i> &nbsp; Customizable result reports.
                    </li>
                    <li style="margin-left: -25px;">
                        <i class="fa fa-check" style="color: green"></i> &nbsp; Multi-level security with physician's electronic signature.
                    </li>
                    <li style="margin-left: -25px;">
                        <i class="fa fa-check" style="color: green"></i> &nbsp; Online management reports, e.g., Billing Transactions.
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">
                        <img class="rounded-circle" src="../../assets/images/customer-alcantara.jpg" width="120"> &nbsp;
                    </div>
                    <div class="col-md-3">
                        <img class="rounded-circle" src="../../assets/images/customer-LR.jpg" width="120"> &nbsp;
                    </div>
                    <div class="col-md-3">
                        <img class="rounded-circle" src="../../assets/images/customer-margosatubig.jpg" width="120"> &nbsp;
                    </div>
                    <div class="col-md-3">
                        <img class="rounded-circle" src="../../assets/images/customer-medical-care.jpg" width="120">
                    </div>
                </div>
                <br>
                <br>
                <a href="http://www.dmtipacs.com/Images/TeleradBrochure.pdf" class="btn btn-primary">
                    <i class="fa fa-download"></i> Download Brochure
                </a>
            </div>
            <br>
        </div>
    </div>
</section>

<!-- ================= -->
<!-- Digitizer Section -->
<!-- ================= -->
<section class="digitizer-section">
    <div class="container">
        <br>
        <br>
        <div class="text-center" style="padding: 0px 100px;">
            <h2>Supported Digitizers</h2>
            <p>We support the following digitizer brands.</p>
            <img class="img-thumbnail" style="border: none; background: #fbfbfb;" src="../../assets/images/digitizer.png">
        </div>
    </div>
</section>

<!-- =============== -->
<!-- Contact Section -->
<!-- =============== -->
<section class="contact-section">
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-sm-12 col-lg-4 ">
                <div class="container" id="contmap">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <i class="fa fa-map-marker fa-fw"></i> Cebu City, Philippines 6000</li>
                        <li class="list-group-item">
                            <i class="fa fa-phone fa-fw"></i> +63 32 9178123982</li>
                        <li class="list-group-item">
                            <i class="fa fa-life-ring"></i> &nbsp;
                            <a href="#"> support@dmtipacs.com</a>
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-thumbtack"></i> &nbsp;
                            <a href="#"> marketing@dmtipacs.com</a>
                        </li>
                    </ul>
                </div>
            </div>
            &nbsp;
            <div class="col-md-7 col-lg-7">
                <div class="img-responsive img-thumbnail" style='overflow: hidden; height: 350px; width: 100%;'>
                    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAnGzUqbgnhr0Ainxl_aU5g7E4pUbWoHqg'></script>
                    <div id='gmap_canvas' style='height:400px; width:100%;'></div>
                    <style>
                        #gmap_canvas img {
                            max-width: none !important;
                            background: none !important;
                        }
                    </style>
                    <a href='https://mapswebsite.org/'>mapswebsite</a>
                    <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=7aca4a0a0430773dffa6f863e0deb3241ad124fa'></script>
                    <script type='text/javascript'>
                        function init_map() {
                            var myOptions = {
                                zoom: 16,
                                center: new google.maps.LatLng(10.3098543, 123.89315590000001),
                                mapTypeId: google.maps.MapTypeId.ROADMAP
                            };

                            map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
                            marker = new google.maps.Marker({
                                map: map, position: new google.maps.LatLng(10.3098543, 123.89315590000001)
                            });

                            infowindow = new google.maps.InfoWindow({
                                content: '<strong>DMTIpacs</strong><br>Fuente Osmeña<br>6000 Cebu City<br>'
                            });

                            google.maps.event.addListener(marker, 'click', function () { infowindow.open(map, marker); }); infowindow.open(map, marker);
                        }

                        google.maps.event.addDomListener(window, 'load', init_map);</script>
                </div>

            </div>
        </div>

    </div>
    <br>
    <br>
    <br>
</section>

<!-- ====== -->
<!-- Footer -->
<!-- ====== -->
<footer id="footer">
    <div class="container">
        <br>
        <div class="text-center">
            <p class="copyright text-muted small">Copyright &copy; 2018 - DMTiPACS Application - ver2.0.Beta.20180619</p>
        </div>
    </div>
</footer>